<template>
  <div
    class="addition-wrapper"
    @click="$store.commit('setShownAddition', false)"
  >
    <div class="addition" @click.stop>
      <div class="addition__header">
        <img
          src="@/../public/icons/back.svg"
          alt=""
          style="width: 18px; cursor: pointer"
          @click="$store.commit('setShownAddition', false)"
        />
        <div style="font-size: 25px">Добавление изображений</div>
      </div>
      <div style="flex-grow: 1">
        <div class="addition__btns">
          <label for="attachments" class="addition__attachments">
            <span class="attach">
              <span class="btn">прикрепить</span>
              <img
                src="@/../public/icons/attachment.svg"
                alt=""
                style="cursor: pointer"
              />
              <input
                id="attachments"
                ref="attachments"
                type="file"
                accept="image/*"
                multiple
                @change="attachImages"
              />
            </span>
          </label>
          <div class="add btn" @click="addImages">добавить изображения</div>
        </div>
        <div v-if="attachments.length" class="addition__attachments-items">
          <div
            v-for="attachment in attachments"
            :key="attachment.name"
            class="addition__attachments-item"
          >
            <button @click="removeAttachment(attachment.name)">
              <img src="@/../public/icons/close.svg" alt="" />
            </button>
            <img
              :src="`data:${attachment.type};base64,${attachment.data}`"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { addImages, getImages } from "@/api";

export default {
  name: "ModalPanel",

  data() {
    return {
      attachments: [],
      files: [],
    };
  },

  methods: {
    convertFileToDTO(file) {
      return new Promise((resolve, reject) => {
        const fileObj = {};
        fileObj.name = file.name;
        fileObj.type = file.type;
        fileObj.size = file.size;
        const reader = new FileReader();
        reader.addEventListener("load", (e) => {
          const data = e.target.result;
          const cutIndex = data.indexOf("base64,") + 7;
          fileObj.data = data.slice(cutIndex);
          resolve(fileObj);
        });
        reader.addEventListener("error", reject);
        reader.readAsDataURL(file);
      });
    },

    attachImages(e) {
      for (const file of e.target.files) {
        if (!this.attachments.find((a) => a.name === file.name)) {
          this.convertFileToDTO(file).then((dto) => {
            this.attachments.push(dto);
            this.files.push(file);
            console.log(dto);
          });
        }
      }
      this.$refs.attachments.value = "";
    },
    removeAttachment(name) {
      this.attachments = this.attachments.filter((a) => a.name !== name);
      this.files = this.files.filter((a) => a.name !== name);
    },

    addImages() {
      if (this.files.length === 0) return;
      addImages(this.files)
        .then(getImages)
        .then((images) => {
          this.$store.commit("setImages", images);
          this.attachments = [];
          this.files = [];
        });
    },
  },
};
</script>

<style scoped lang="scss">
.addition-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  @media (min-width: 641px) {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(27, 20, 20, 0.8);
  }
}
.addition {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  overflow: auto;
  @media (min-width: 641px) {
    width: 640px;
    max-height: 720px;
    box-shadow: 0 10px 100px #000000;
    border-radius: 20px;
  }
}
.addition__header {
  display: flex;
  > div {
    margin: 0 auto;
  }
}

.addition__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.addition__attachments {
  img {
    margin-left: 12px;
    width: 22px;
    height: 22px;
  }
  input {
    display: none;
  }
  .attach {
    display: flex;
    align-items: center;
  }
}
.addition__attachments-items {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.addition__attachments-item {
  position: relative;
  margin: 0 20px 20px 0;

  > img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
    border: #dfdfdf 1px solid;
  }

  button {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 2;
    padding: 2px;
    background: #dfdfdf;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    outline: none;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}
</style>
