<template>
  <div class="image-card">
    <img :src="url" alt="картинка" class="img" />
    <div class="filter">{{ filter }}</div>
  </div>
</template>

<script>
export default {
  name: "ImageCard",

  props: {
    url: { type: String, required: true },
    filter: { type: String, required: true },
  },
};
</script>

<style scoped lang="scss">
.image-card {
  padding: 18px 18px 0 18px;
  border-radius: 16px;
  background: #f6f6f6;
  transition: all 0.2s ease;
  cursor: pointer;
  img {
    border-radius: 12px;
    flex: 2;
  }
}
.image-card:hover {
  background: #dddddd;
}
.filter {
  width: 100%;
  color: #2c3e50;
  text-transform: uppercase;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
