<template>
  <div class="modal-wrapper" @click="$store.commit('setShownModal', false)">
    <div class="modal" @click.stop>
      <label>
        <span>Сохранность контура букв</span><br />
        <input type="number" v-model="v1" />
      </label>
      <label>
        <span>Удаление цветовых загрязнений</span><br />
        <input type="number" v-model="v2" />
      </label>
      <label>
        <span>Сохранность буквиц и вязи</span><br />
        <input type="number" v-model="v3" />
      </label>
      <label>
        <span>Отсутствие лишних чёрных пикселей</span><br />
        <input type="number" v-model="v4" />
      </label>
      <div class="btn" style="margin-top: 5px" @click="setRatings">
        Отправить
      </div>
    </div>
  </div>
</template>

<script>
import { setRatingsToImage, getImages } from "@/api";

export default {
  name: "ModalPanel",
  props: {
    imgId: Number,
  },
  data: () => ({
    v1: "",
    v2: "",
    v3: "",
    v4: "",
  }),
  methods: {
    setRatings() {
      const filter = this.$store.state.temporarilyFilter;
      const ratings = { [filter]: [this.v1, this.v2, this.v3, this.v4] };
      this.$store.commit("setFilter", filter);
      this.$store.commit("setShownModal", false);
      const imageId = +this.$route.params.imgId;
      const img = this.$store.state.images.find(
        (image) => image.id === imageId
      );
      setRatingsToImage(img, ratings).then(() =>
        getImages().then((images) => this.$store.commit("setImages", images))
      );
    },
  },
};
</script>

<style scoped lang="scss">
@import "src/sass/constants";
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(27, 20, 20, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 85vw;
  max-width: 400px;
  max-height: 375px;
  background: white;
  border-radius: 16px;
  @media (min-width: $screen-sm-min) {
    padding: 20px;
  }
}
.modals__confirmation {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: space-evenly;
}
</style>
