<template>
  <transition>
    <ModalPanel
      v-if="$store.state.isShownModal"
      :imgId="+$route.params.imgId"
    />
  </transition>
  <div class="container grid">
    <div class="left" @click="changeImage(-1)"></div>
    <div class="right" @click="changeImage(1)"></div>
    <ImageCard
      v-for="filterObj in $store.state.imageFilters"
      :key="filterObj.filter"
      :filter="filterObj.filter"
      :url="getUrl(filterObj.filter)"
      :class="{ chosen: filterObj.isChosen }"
      @click="chooseFilter(filterObj.filter)"
    />
  </div>
</template>

<script>
import ImageCard from "@/components/ImageCard";
import ModalPanel from "@/components/ModalPanel";
import { getImageUrl } from "@/api";
export default {
  name: "ImagesMarkup",
  components: { ImageCard, ModalPanel },

  created() {
    console.log("CREATED");
  },

  methods: {
    chooseFilter(filter) {
      this.$store.commit("setTemporarilyFilter", filter);
      this.$store.commit("setShownModal", true);
    },
    getUrl(filter) {
      const imageId = +this.$route.params.imgId;
      const img = this.$store.state.images.find(
        (image) => image.id === imageId
      );
      return getImageUrl(img, filter).replace(
        "localhost",
        window.location.hostname
      );
    },

    changeImage(increment) {
      const indexOfImage = this.$store.state.images.findIndex((img) => {
        return img.id === Number(this.$route.params.imgId);
      });
      this.$store.commit("setRandomPicture");
      if (indexOfImage === 0 && increment < 0) {
        this.$router.push(
          `/images-markup/${
            this.$store.state.images[this.$store.state.images.length - 1].id
          }`
        );
      } else if (
        indexOfImage === this.$store.state.images.length - 1 &&
        increment > 0
      ) {
        this.$router.push(`/images-markup/${this.$store.state.images[0].id}`);
      } else {
        this.$router.push(
          `/images-markup/${
            this.$store.state.images[indexOfImage + increment].id
          }`
        );
      }
    },
  },
};
</script>

<style scoped lang="scss">
@import "src/sass/constants";
.left,
.right {
  position: fixed;
  top: 65px;
  bottom: 0;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  z-index: 5;
  cursor: pointer;
  @media (min-width: $screen-xs-500) {
    width: 15%;
  }
  @media (min-width: $screen-md-min) {
    width: 10%;
  }
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.left:hover,
.left:active {
  background: linear-gradient(
    90deg,
    rgba(210, 210, 210, 1) 17%,
    rgba(255, 255, 255, 0.2987570028011205) 100%
  );
}
.right:hover,
.right:active {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3) 17%,
    rgba(210, 210, 210, 1) 100%
  );
}
.chosen {
  background: #c171f0;
}
.chosen:hover {
  background: #c171f0;
  cursor: unset;
}
</style>
