<template>
  <div class="container grid">
    <ImageCard
      v-for="img in $store.state.images"
      :key="img.id"
      :url="getUrl(img.url)"
      :filter="img.filter || 'не выбран'"
      @click="$router.push(`/images-markup/${img.id}`)"
    />
  </div>
</template>

<script>
import ImageCard from "@/components/ImageCard";
export default {
  name: "ImagesList",
  components: { ImageCard },
  methods: {
    getUrl(url) {
      return url.replace("localhost", window.location.hostname);
    },
  },
};
</script>

<style scoped lang="scss">
@import "src/sass/constants";
</style>
