<template>
  <transition>
    <AdditionPanel v-if="$store.state.isShownAddition" />
  </transition>
  <header class="header">
    <div class="btn" @click="$router.push('/images/')">изображения</div>
    <div class="btn" @click="$store.commit('setShownAddition', true)">
      добавить изображения
    </div>
  </header>
  <router-view />
</template>
<script>
import AdditionPanel from "@/components/AdditionImages";
import { getImages } from "@/api";
export default {
  components: { AdditionPanel },
  created() {
    getImages().then((images) => this.$store.commit("setImages", images));
  },
};
</script>

<style lang="scss">
@import "/src/sass/constants";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

header {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  background: #484ebc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

button,
a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
}

img {
  display: block;
  outline-style: none;
  user-select: none;
  -webkit-user-drag: none;
}

.show-modal {
  overflow: hidden;
}

.btn {
  padding: 8px;
  background: #b28550;
  color: white;
  border-radius: 12px;
  max-width: 250px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.btn:hover {
  background: #b7a184;
}

.container {
  margin-top: 65px;
  padding: $vertical-padding-sm $horizontal-padding-sm;
  @media (min-width: $screen-sm-min) {
    padding: $horizontal-padding-md;
  }
}
.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
  grid-gap: 25px;
  align-items: center;
  @media (min-width: $screen-xs-500) {
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  }
  @media (min-width: $screen-sm-min) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  @media (min-width: $screen-lg-min) {
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  }
}
// animations
.v-leave-active,
.v-enter-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
