$screen-xs-400: 400px !default;
$screen-xs-450: 450px !default;
$screen-xs-500: 500px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;
$screen-fhd-min: 1600px !default;

$horizontal-padding-sm: 16px !default;
$horizontal-padding-md: 32px !default;
$vertical-padding-sm: 24px !default;

